html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url("./images/Rectangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* overflow-y: hidden; */

}

.container {
    display: grid;
}

.topPartContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.imageContainer {
    margin-top: 30px;
    background-image: url("./images/hero-mobile.jpg");
    min-height: 250px;
    /* width: 100vw; */
}

.descriptionContainer {
    padding-left: 20px;
    padding-right: 20px;
}

.descriptionContainer-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    color: #CE9898;
    font-weight: 300;
    text-align: center;
}